# Core
opencv-python
pandas
numpy
PyYAML
ultralytics

# OCR (Qwen3-VL)
transformers
qwen_vl_utils
torch
torchvision
torchaudio
accelerate
pillow

# OCR (PaddleOCR)
paddlepaddle-gpu>=2.6.0; sys_platform == 'linux' or sys_platform == 'win32'
paddlepaddle>=2.6.0; sys_platform == 'darwin'
paddleocr>=2.7.0
