system:
  cameras:
    # --- [지휘관] Master Camera (Top View) ---
    - name: "top_view"
      role: "master"  # 이 친구가 트리거입니다
      source: "rtsp://admin:Hello%402023@10.100.3.112:554/0/onvif/profile2/media.smp"
      weights: "models/bpt_gate/best.pt"
      # Top 뷰는 트럭이나 컨테이너 전체를 보고 타이밍을 잡습니다.
      target_classes: [0, 1, 2] 
      detection_zone: {x_min: 0.3, x_max: 0.7, y_min: 0.4, y_max: 1}

    # --- [대기조] Slave Cameras (Side Views) ---
    # 트리거가 발동되면 그때부터 Code Area(2)를 찾습니다.
    - name: "side_view_1"
      role: "slave"
      source: "rtsp://admin:Hello%402023@10.100.3.111:554/0/onvif/profile2/media.smp"
      weights: "models/bpt_gate/best.pt"
      target_classes: [2] # 번호판(Code Area)만 집중 공략
      detection_zone: {x_min: 0.2, x_max: 0.8, y_min: 0.2, y_max: 0.8}

    - name: "top_front_view"
      role: "slave"
      source: "rtsp://admin:Hello%402023@10.100.3.112:554/0/onvif/profile2/media.smp"
      weights: "models/bpt_gate/best.pt"
      target_classes: [2]
      detection_zone: {x_min: 0.3, x_max: 0.7, y_min: 0.4, y_max: 1}
    
    - name: "top_back_view"
      role: "slave"
      source: "rtsp://admin:Hello%402023@10.100.3.114:554/0/onvif/profile2/media.smp"
      weights: "models/bpt_gate/best.pt"
      target_classes: [2]
      detection_zone: {x_min: 0.3, x_max: 0.7, y_min: 0.4, y_max: 1}


  log_file: "outputs/gate_log.csv"
  temp_frame_dir: "temp_frames"

model:
  yolo_default: "yolo11n.pt"
  conf_threshold: 0.5
  ocr_model: "paddle" 
  # 전체 라벨 정의: 0:Truck, 1:Container, 2:Code_Area
  target_classes: [0, 1, 2]

parameters:
  perspective_intensity: 0.0
  # Master가 감지 후 몇 초 동안 Slave를 켜둘지 설정
  trigger_duration: 5.0
